extends layout

block content
	script(src='/js/angular/controllers/cotacao.js')
	div.container(ng-app="App" ng-controller="CotacaoController")
		h1 Add dolar
		form(method="post" action="/cotacao/")
			div.form-group
				label(for="") Dolar			
				input.form-control(type="text" name="dolar" placeholder="$") 
			div.form-group
				label(for="") {{date | moment: 'format': 'DD/MM/YYYY'}} 
			input.btn.btn-primary(type="submit" value="Envio") 