extends layout

block content
  script(src='/js/index.js')

  h1= title
  p Um Web Scraper basico.
  div.cotainer(ng-app="App" ng-controller="AppCtrl")
    div.row
      div.col-md-6.col-md-offset-3
        div.jumbotron
          p.text-center#dolar {{dolar[0].dolar | currency: "USD$"}} 
          p.text-left#dateNow {{dateNow | moment: 'format': 'HH:mm:ss'}}

    div.cotinaer
      ul(ng-repeat="dolars in dolar")
        li 
          b {{dolars.dolar | currency: "USD$"}} ::: 
          | {{dolars.date | moment: 'format': 'DD/MM/YYYY'}}             
          span.glyphicon.glyphicon-remove(aria-hidden="true" ng-hide="dolars.origin == 'robot'")
        i {{dolars.date | moment:'utc' | moment: 'fromNow'}} 
        | from
        u  {{dolars.origin}}