extends layout

block content
  h1= title
  p Um Web Scraper basico.

  div.cotainer
    div.row
      div.col-md-6.col-md-offset-3
        div.jumbotron
          p.text-center#dolar $ #{cotacaoLast.dolar}
