extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    each dolar, i in cotacaoList
        li  #{dolar.dolar}
   
   div.jumbotron
    h1 Hello word
    p ...
    p a.btn.btn-primary.btn-lg Learn More

    img