doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href='/bower/bootstrap/dist/css/bootstrap.css')
    script(src='/bower/jquery/dist/jquery.js')
    script(src='/bower/bootstrap/dist/js/bootstrap.js')
    script(src='/bower/socket.io-client/socket.io.js')
    script(src='/bower/angular/angular.js')
    script(src='/bower/moment/moment.js')
  body
    block content