doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheed' href='/bootstrap/dist/css/bootstrap-theme.min.css')
    script(src='/jquery/dist/jquery.js')
    script(src='/bootstrap/dist/js/bootstrap.js')
  body
    block content