doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href='/bootstrap/dist/css/bootstrap.css')
    script(src='/jquery/dist/jquery.js')
    script(src='/bootstrap/dist/js/bootstrap.js')
    script(src='/socket.io-client/socket.io.js')
    script(src='/angular/angular.js')
    script(src='/moment/moment.js')
  body
    block content